{
  "extends": [
    "eslint:recommended",
    "react-app/jest",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true
  },
  "globals": {
    "document": "readonly"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}